.form-inline {
margin-left: auto;
}

.container {
flex-direction: column;
margin: 10px;
}

.cat-row {
display: flex;
margin: 20px;
justify-content: space-around;
text-align: center;
}

.card {
background-color: lightgray;
}

